    <!-- navbar start here --> 
    <div id="navbar" class="w-[220px] min-h-screen px-4 py-3 bg-[#343A40] flex flex-col justify-start items-start">
                <div class="w-full flex pb-2 items-center justify-center border-b">
                    <img src="images/favicon1.png" alt="" class="w-6 h-6"> 
                    <h2 class="w-full text-[18px] text-blue-400 text-center">Admin LTE v1.0</h2>
                </div>
            
                <p class="text-[14px] text-white p-2 mb-2">Primary Menu</p>
                <ul class="w-full flex flex-col justify-center gap-2">
                    <li><a class="menu" href="index.html"><i class="fa-solid fa-tv text-[15px] mr-2 "></i>Home</a></li>
                    <li><a class="menu" href="categories.html"><i class="fa-solid fa-sitemap text-[15px] mr-2"></i>categories</a></li>
                    <li><a class="menu" href="statics.html"><i class="fa-solid fa-clock-rotate-left text-[15px] mr-2"></i>Statics</a></li>
                    <li><a class="menu" href="products.html"><i class="fa-solid fa-layer-group text-[15px] mr-2"></i>products</a></li>
                    <li><a class="menu" href="Slides.html"><i class="fa-solid fa-sliders text-[15px] mr-2"></i>Slides</a></li>
                    <li><a class="menu" href="orders.html"><i class="fa-solid fa-truck text-[15px] mr-2"></i>orders</a></li>
                    <li><a class="menu" href="users.html"><i class="fa-solid fa-people-group text-[15px] mr-2"></i>users</a></li>
                    <li><a class="menu" href="sellers.html"><i class="fa-solid fa-house-laptop text-[15px] mr-2"></i>manage seller</a></li>
                    <li><a class="menu" href="reviews.html"><i class="fa-solid fa-comment-dots text-[15px] mr-2"></i>reviews</a></li>
                </ul>

                <p class="text-[14px] text-white p-2 mb-2 mt-6">Controll Menu</p>
                <ul class="w-full flex flex-col justify-center gap-1">
                    <li><a class="menu" href="coupons.html"><i class="fa-solid fa-tags text-[15px] mr-2"></i>coupons</a></li>
                    <li><a class="menu" href="tickets.html"><i class="fa-solid fa-clipboard-list text-[15px] mr-2"></i>tickets</a></li>
                    <li><a class="menu" href="profile.html"><i class="fa-solid fa-address-card text-[15px] mr-2"></i>manage profile</a></li>
                    <li><a class="menu" href="Settings.html"><i class="fa-solid fa-gears text-[15px] mr-2"></i>Settings</a></li>
                </ul>
    </div>
    <!-- navbar !start here -->    